// Pinocchio
color: black;
 font-size: 26px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Log in
color: white;
 font-size: 15px;
 font-family: Inter;
 font-weight: 600;
 letter-spacing: 0.07px;
 word-wrap: break-word
---
// Pinocchio
color: black;
 font-size: 60px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// The checklist that lies to you about your deadlines!
color: #86788E;
 font-size: 20px;
 font-family: Inter;
 font-weight: 500;
 line-height: 30px;
 letter-spacing: 0.10px;
 word-wrap: break-word
---
// To-Do List
color: black;
 font-size: 18px;
 font-family: Inter;
 font-weight: 600;
 letter-spacing: 0.09px;
 word-wrap: break-word
---
// Unchecked
color: #1F2937;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 letter-spacing: 0.08px;
 word-wrap: break-word
---
// October 12th, 2020
color: #86788E;
 font-size: 14px;
 font-family: Inter;
 font-weight: 500;
 line-height: 20px;
 letter-spacing: 0.07px;
 word-wrap: break-word
---
// 0:00
color: #EB6172;
 font-size: 14px;
 font-family: Inter;
 font-weight: 700;
 line-height: 20px;
 letter-spacing: 0.07px;
 word-wrap: break-word
---
// Unchecked
color: #1F2937;
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 line-height: 24px;
 letter-spacing: 0.08px;
 word-wrap: break-word
---
// October 12th, 2020
color: #86788E;
 font-size: 14px;
 font-family: Inter;
 font-weight: 500;
 line-height: 20px;
 letter-spacing: 0.07px;
 word-wrap: break-word
---
// 0:00
color: #EB6172;
 font-size: 14px;
 font-family: Inter;
 font-weight: 700;
 line-height: 20px;
 letter-spacing: 0.07px;
 word-wrap: break-word