body {
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}
.body-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    display: inline-flex;
}
.navbar-container {
    align-self: stretch; 
    background: white; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    display: flex;
}
.navbar-elements-container {
    align-self: stretch;
    padding-left: 30px; 
    padding-right: 30px; 
    padding-top: 10px; 
    padding-bottom: 16px; 
    justify-content: space-between; 
    display: inline-flex;
}
.logo-container {
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    display: flex;
}
#logo-text {
    color: black; 
    font-size: 26px; 
    font-family: Inter; 
    font-weight: 700; 
    word-wrap: break-word;
}
.login-container {
    justify-content: flex-start; 
    align-items: center; 
    gap: 20px; 
    display: flex;
}
#login-button {
    padding-left: 12px; 
    padding-right: 12px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    background: #EB6172; 
    box-shadow: 0px 4px 8px rgba(234.50, 97.47, 113.92, 0.40); 
    border-radius: 6px; 
    overflow: hidden; 
    justify-content: center; 
    align-items: center; 
    gap: 8px; 
    display: flex;
}
#button-text {
    color: #FFF;
    text-align: center;

    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.075px;
    word-wrap: break-word;
}
#login-button-icon {
    width: 14px; 
    height: 14px;
    position: relative;
}

.navbar-break {
    height: 1px;
    align-self: stretch;
    background: #E5E7EB;
}
.title-section{
    padding-top: 20px; 
    padding-bottom: 20px; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 25px; 
    display: flex;
}
.title-container {
    display: flex;
    width: 580px;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.section-title {
    color: #000;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.8px;
}
.section-description {
    align-self: stretch;
    color: #86788E;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    letter-spacing: 0.1px;
}

.checklist-section {
    padding-left: 40px; 
    padding-right: 40px; 
    padding-top: 20px; 
    padding-bottom: 20px; 
    background: white; 
    border-radius: 15px; 
    overflow: hidden; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 10px; 
    display: flex
    /*display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    flex-shrink: 0;*/
}

.checklist-container{
    display: flex;
    padding: 20px 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
}

.checklist-header{
    width: 900px;
    height: 50px; 
    position: relative;
}

.checklist-header-text{
    width: 900px; 
    height: 33.33px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    color: black; 
    font-size: 18px; 
    font-family: Inter; 
    font-weight: 600; 
    letter-spacing: 0.09px; 
    word-wrap: break-word
    /*width: 900px;
    height: 33.333px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.09px;*/
}

.checklist-line-divider{
    width: 900px; 
    height: 1px; 
    left: 0px; 
    top: 32px;
    position: relative;
    background: #E5E7EB;
}

.task-section {
    align-self: stretch;
    padding-left: 16px; 
    padding-right: 16px; 
    padding-top: 14px; 
    padding-bottom: 14px; 
    background: white; 
    border-radius: 6px; 
    border: 1px #E5E7EB solid; 
    justify-content: flex-start;
    gap: 16px; 
    display: inline-flex
    /*display: flex;
    width: 800px;
    padding: 14px 16px;
    align-items: flex-start;
    gap: 16px;*/
}
.uncheckedBox {
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 4px;

    border-radius: 6px;
    border: 1px solid #E5E7EB;
    background: #FFF;
}
.checkedBox{
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 4px;

    border-radius: 6px;
    border: 1px solid #E5E7EB;
    background-image: url(images/check.png);
}
.uncheckedText {
    color: #1F2937;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.08px;
}
.date-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    flex: 1 0 0;
}
.date-text {
    color: #86788E;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.07px;
}
.time-text {
    color: #EB6172;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.07px;
}