<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>
    <link href="static/css/main.css" rel="stylesheet"/>
    <title>Pinocchio</title>
</head>
<body>
    <div class="body-container">
        <div class="navbar-container">
            <div class="navbar-elements-container">
                <div class="logo-container">
                    <span id="logo-text">
                        Pinnoch.io
                    </span>
                </div>
                <div class="login-container">
                    <button type="button" id="login-button">
                        <img src="{{url_for('static', filename='images/person.png')}}" id="login-button-icon"/>
                        <span id="button-text">
                            Log in
                        </span>
                    </button>
                </div>
            </div>
            <div class="navbar-break"></div>
        </div>
        <div class="title-section">
            <div class="title-container">
                <span class="section-title">Pinnoch.io</span>
                <div class="section-description">The checklist that lies to you about your deadlines!</div>
            </div>
        </div>
        <div class="checklist-section">
            <div class="checklist-container">
                <div class="checklist-header">
                    <div class="checklist-header-text">
                        To-Do List
                        <img src="images/check.png" alt="Girl in a jacket" width="500" height="600">
                        <img src="{{url_for('static', filename='images/check.png')}}"/>
                    </div>
                </div>
                <div class="checklist-line-divider"></div>
                {% for todo in todo_list %}
                    <div class="task-section">
        <!--                <input class="uncheckedBox" type="checkbox">-->
                        {% if todo.complete == False %}
                            <button type="button" class="uncheckedBox"></button>
                        {% else %}
                            <button type="button" class="checkedBox"></button>
                        {% endif %}
                        <span class="uncheckedText">{{todo.task_name}}</span>
                        <div class="date-container">
                            <span class="date-text">October 12th, 2020</span>
                            <span class="text-eclipse">*</span>
                            <span class="time-text">4:20</span>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</body>
</html>